// --------------------------------------------------------------------------------------- //
// Imports //
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Patua+One');

// --------------------------------------------------------------------------------------- //
// Bulma variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";

// --------------------------------------------------------------------------------------- //
// Typography //

$font-primary: 'Patua One', cursive;
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// Font Sizes //
$font-size-primary: 1em;

// Font Colors //
$color-primary: #278da4;
$color-secondary: #fff;
$color-standard: #000;

$btn-background:#a2e7f7;
$footer-background:#c0f0fc;

// --------------------------------------------------------------------------------------- //
// Padding or margins

$info-spacing: 0.5em;

// --------------------------------------------------------------------------------------- //

h1 {
    font-family: $font-primary;
}

.button {
    margin-top: $info-spacing;
    &:hover {
        color: $color-secondary;
    }
    &-main {
        background-color: rgb(196, 64, 64);
        color: $color-secondary;
    }
    &-secondary {
        background-color: $btn-background;
    }
}

.heading {
    p {
        font-size: $font-size-primary;
    }
}

p,
.navbar-item {
    color: $color-standard;
}

.info-heading {
    font-family: $font-primary;
    color: $color-primary;
}

.banner {
    background-image: url("../assets/images/experiencevr.jpg");
    height: 28em;
}

.fas, 
.fab {
    margin: $info-spacing;
}

.footer {
    background-color: $footer-background;
}

